 /* --------------------Google Font------------------ */
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

 /* -------------------------------------------------- */
 body{
    font-family: 'Source Sans Pro', sans-serif;
 }
.container{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;      
}
 /* -------------------Header------------------------- */
 @keyframes background_color { 
  0% {
    background-color: #46b2e0;
  }  
  10% {
    background-color: #35bdd0;
  }  
  20% {
    background-color: #f4ce6a;
  }  
  30% {
    background-color: #e6425e;
  }  
  40% {
    background-color: #38cc77;
  }  
  50% {
    background-color: #6ac47e;
  }  
  60% {
    background-color: #cad5e2;
  }
  70% {
    background-color: #eb4d4b;
  }  
  80% {
    background-color: #03c6c7;
  }
  90% {
    background-color: #5da3fa;
  }
  100% {
    background-color: #e5d68a;
  }

}
.header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    animation: background_color 30s ease-in-out 0s infinite alternate;
}
header h1{
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
} 
.header-text {
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
  }
  
  .header-description {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
  }
  
  .header-illustration img {
    width: 581px;
    height: 613px;
    padding-top: 33px;
    padding-right: 79px;
  }

  @keyframes button-color-change {
    0% {
      background-image: linear-gradient(to right, #642b73, #c6426e);
      transition: all 2s ease-in-out;
    }
  
    100% {
      background-image: linear-gradient(to left, #642b73, #c6426e);
      transition: all 2s ease-in-out;
    }
  }

  .button {
    width: 187px;
    height: 56px;
    /* background-image: linear-gradient(to right, #5a3f37, #2c7744); */
    border-radius: 5px;
    position: relative;
    /* transition: all 1s ease-in-out; */
    animation: button-color-change 2s ease-in-out 0s infinite alternate;
    animation-play-state: running;
  }
  
  .button:hover .fa-angle-right {
    transform: scale(1.5) translate(-100%, -100%);
    position: absolute;
    top: 40px;
    left: 170px;
  }
  
  .button:hover {
    background-image: linear-gradient(to right, #2c7744, #5a3f37);
  }
  
  .button a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .fa-angle-right {
    color: #ffffff;
  }
  
  .half-width {
    width: 50%;
  }
 /* -------------------------------------------------- */

 /* --------------------------------------------------- ----*/
/* -------------------------MAIN START--------------------- */
/* -------------------------------------------------------- */

/*---------------------------Aside------------------------- */
.blogs-section{
    display: flex;
    gap: 24px;
}
aside{
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.aside-button{
    width: 252px;
    height: 64px;
    border-radius: 10px;
}
.aside-button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.17s;
}
.aside-button a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}
#active {
    background-color: #dd0000;
  }
  
  #active a {
    color: #ffffff;
  }

/* ------------------------------------Section----------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.blog{
    width: 312px;
    height: 362px;
    border-radius: 10px;
    /* border: 1px transparent black; */
    box-shadow: 1px 1px 5px 5px #bdbdbd;

}
.blog-ic img{
    border-radius: 10px 10px 0px 0px;
}
.blog-description{
    margin: 20px;
}
.blog-description{
    color: rgba(22, 22, 22, 0.7);
    margin-right: 10px;
}
.blog-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}
.time {
    margin-right: 30px;
  }
 /* --------------------------------------------------- ----*/
/* -------------------------MAIN END--------------------- */
/* -------------------------------------------------------- */
.view-all {
    display: none;
  }
/* --------------------------------------------------------- */
/* -------------------------Footer START---------------------*/
/* -------------------------------------------------------- */

footer{
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    background-color: #161616;
    height: 300px;
}
footer h2{
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1); 
}
.footer-div{
    margin-bottom: 20px;  
}
.footer-div a{
    text-decoration: none;
    margin-right: 1.5em;
    font-weight: 500;
    font-size: 16px;
    color: #b9b9b9;
}
.social{
    color: rgb(99, 109, 197);
    font-size: 20px;
    margin-right: 1rem;
}
.social a{
  padding: 15px 15px;
}
.fa-brands{
    color: white;
    font-size: 30px;
}

/*---------------------------------- RESPOONSIVE DESIGN----------------------------------- */
/* Tablet Style */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header-div {
      width: 100%;
    }
    .header-text .header-title {
        font-size: 40px;
      }
    .header-pic img{
      width: 100%;
    }
    .blogs-section{
      flex-direction: column;
    }
    .aside-div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    aside {
      width: 100%;
      margin: 0 auto;
      background-color: #ffff;
    }
  
    .blogs {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 7%;
    }
  
    .view-all {
      display: block;
      width: 131px;
      height: 47px;
      background-color: #dd0000;
      border-radius: 5px;
    }
    .view-all a {
      text-decoration: none;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #ffffff;
    }
    .view-all-button-section{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10%;
    }
  
    .button {
      width: 161px;
      height: 48px;
      margin-bottom: 30px;
    }
    .button:hover .fa-chevron-right {
      left: 150px;
      top: 37px;
    }
  }
/* For Mobile Phones: */

@media only screen and (max-width: 767px) {
    .header-div {
      width: 334px;
      height: 472px;
      flex-direction: column;
      gap: 0;
    }
    .header-text {
      margin: 0%;
      padding: 0;
      text-align: center;
    }
    .header-text .header-title {
      font-size: 22px;
    }
    .header-text .header-description {
      font-size: 14px;
      text-overflow: ellipsis;
      margin-bottom: 20px;
    }
  
    .header-text .button {
      width: 161px;
      height: 40px;
    }
    .button a {
      font-size: 20px;
    }
    .header-pic img {
      width: 233px;
      height: 245px;
      margin: 0%;
      padding: 0%;
    }
    .blogs-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .blogs {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .button:hover .fa-chevron-right {
      left: 145px;
      top: 35px;
    }
  }
  